@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    width: 100%;
    background-color: #c7c7c7;
    font-family: Lato;
    font-weight: 300;
    font-size: 45px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

h1 h2 h3 h4 h5 h6 {
    font-family: Raleway;
    font-weight: 300;
    color: whitesmoke;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: whitesmoke;
}

a:hover a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

/*---------------Header---------------*/
/*---------------Navbar---------------*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c333;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 18px;
    padding: 15px 0 15px 0;
}

.navbar-inverse {
    background: #DE0A0A;
    border-color: #DE0A0A;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #DE0A0A;
    text-align: center;
    padding-top: 25px;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: whitesmoke;
    border-bottom: 4px solid whitesmoke;
    background: #DE0A0A;

}

.navbar-inverse .navbar-nav > .active > a:focus {
    background: #DE0A0A;
    color: whitesmoke;

}

.navbar-brand {
    padding: 0;
}

.logotype {
    margin-top: 5px;
    padding-top: 0;
    padding-bottom: 10px;
    margin-left: 6px;
    margin-right: -6px;
    display: block;

}

.slogan {
    float: left;
}

.gidr {
    margin-top: 7px;
    padding-top: 5px;
    margin-left: 15px;
    margin-right: -15px;
    color: white;
    font-family: Lato;
    font-size: 48px;
    display: block;
}

.serv {
    margin-top: 7px;
    padding-top: 5px;
    margin-left: -15px;
    color: white;
    font-family: Lato;
    font-size: 48px;
    display: block;
}

/*---------------End Navbar---------------*/

#headwrap {
    background: url("../img/bgrnd01.png") no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    color: whitesmoke;
    position: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: cover;
}

.txt_hr {
    padding-top: 120px;

}

.rgba {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-family: Oswald;
}


/*---------------End Buttons Block--------*/

.w_w {
    display: inline-block;
    background-color: #DE0A0A;
    width: 100%;
}

.w_w {
    color: whitesmoke;
    font-family: Raleway;
    padding-top: 15px;
    padding-bottom: 20px;
}

.why_we {
    font-family: Oswald;
}

.charity > i {
    color: #750707;
}

.charity > h4 {
    color: #750707;
}

.charity > p {
    font-size: 16px;
    color: whitesmoke;
    font-family: Lato;
}

.content_bar {
    margin-top: 20px;
    background-color: #353535;
    font-size: 16px;
    float: left;

}

.slider {
    overflow: hidden;
    height: 540px;
    width: 1440px;

}

/*----------- Footer --------------*/

#footer {
    background-color: #DE0A0A;
    padding-top: 30px;
    padding-bottom: 20px;
}

i:hover {
    color: #750707;
}