@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    width: 100%;
    background-color: #c7c7c7;
    font-family: Lato;
    font-weight: 300;
    font-size: 45px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

h1 h2 h3 h4 h5 h6 {
    font-family: Raleway;
    font-weight: 300;
    color: whitesmoke;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: whitesmoke;
}

a:hover a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

/*---------------Header---------------*/
/*---------------Navbar---------------*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c333;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 18px;
    padding: 15px 0 15px 0;
}

.navbar-inverse {
    background: #DE0A0A;
    border-color: #DE0A0A;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #DE0A0A;
    text-align: center;
    padding-top: 25px;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: whitesmoke;
    border-bottom: 4px solid whitesmoke;
    background: #DE0A0A;

}

.navbar-inverse .navbar-nav > .active > a:focus {
    background: #DE0A0A;
    color: whitesmoke;

}

.navbar-brand {
    padding: 0;
}

.logotype {
    margin-top: 5px;
    padding-top: 0;
    padding-bottom: 10px;
    margin-left: 6px;
    margin-right: -6px;
    display: block;

}

.slogan {
    float: left;
}

.gidr {
    margin-top: 7px;
    padding-top: 5px;
    margin-left: 15px;
    margin-right: -15px;
    color: white;
    font-family: Lato;
    font-size: 48px;
    display: block;
}

.serv {
    margin-top: 7px;
    padding-top: 5px;
    margin-left: -15px;
    color: white;
    font-family: Lato;
    font-size: 48px;
    display: block;
}

/*---------------End Navbar---------------*/

#headwrap {
    background: url("../img/bgrnd01.png") no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    color: whitesmoke;
    position: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: cover;
}

.txt_hr {
    padding-top: 120px;

}

.rgba {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-family: Oswald;
}

/*---------------End Next Game--------------*/

.signbtn {
    /* background-color: #353535;
     z-index: 2*/
    margin-top: 30px;
}

.signin {
    position: relative;
    margin-bottom: -5px;
}

.signup {
    margin-bottom: 30px;
    margin-top: -5px;
}

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}

.btn, a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/*Buttons */
a.animated-button.victoria-four {
    border: 2px solid #D24D57;

}

a.animated-button.victoria-four:after {
    background: #D24D57;
    opacity: .5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

a.animated-button.victoria-four:hover:after {
    opacity: 1;
    height: 600% !important;
}

/*---------------End Buttons Block--------*/

.w_w {
    display: inline-block;
    background-color: #919191;
    width: 100%;
}

.w_w {
    color: whitesmoke;
    font-family: Raleway;
    padding-top: 15px;
    padding-bottom: 20px;
}

.why_we {
    font-family: Oswald;
}

.charity > i {
    color: #750707;
}

.charity > h4 {
    color: #750707;
}

.charity > p {
    font-size: 16px;
    color: whitesmoke;
    font-family: Lato;
}

.content_bar {
    margin-top: 20px;
    background-color: #353535;
    font-size: 16px;
    float: left;

}

.slider {
    overflow: hidden;
    height: 540px;
    width: 1440px;

}

/*----------- Footer --------------*/

#footer {
    background-color: #DE0A0A;
    padding-top: 30px;
    padding-bottom: 20px;
}

i:hover {
    color: #750707;
}